.main-header {
    .content {
        border-top: 4px solid $dark-blue;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
        display: flex;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-menu {
        > li {
            display: inline-block;
            position: relative;
            margin-right: 3rem;

            &:last-of-type {
                margin-right: 0;
            }

            > a {
                text-transform: uppercase;
                font-size: 1.125rem;
                color: $dark-blue;
                font-weight: 500;

                &:after,
                &:before {
                    width: 0;
                    content: '';
                    bottom: -5px;
                    height: 3px;
                    position: absolute;
                    background-color: $dark-blue;

                    @include transition(all 0.3s);
                }

                &:after {
                    right: 0;
                }

                &:before {
                    left: 0;
                }

                &:hover:after,
                &:hover:before {
                    width: 50%;
                }

                .icon-arrow-down {
                    top: 5px;
                    right: -20px;
                    position: absolute;
                }
            }
 
            &:hover .main-submenu { 
                height: 245px;
            }
        }
    }

    .main-submenu {
        height: 0;
        top: 30px;
        width: 250px;
        overflow: hidden;
        position: absolute;
        @include transition(all 0.5s);
        @include setProperty(box-shadow, 0 0 10px #0d3356);

        li {
            background-color: $dark-blue;
            border-bottom: 1px solid #14538c;

            @include transition(all 0.5s);
        }

        a {
            padding: .8rem;
            display: block;
            line-height: 1.4;
            font-size: .875rem;
            color: $light-blue;
            text-decoration: none;

            @include transition(color 0.5s);

            &:hover {
                color: lighten($light-blue, 10%);
            }

            &:before {
                content: '-';
                margin-right: .3125rem;
            }
        }
    }
}